<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin</title>
</head>

<body onload="emailDisplay(); isAdmin()">
    <%- include('../partials/boostrap') %>
        <%- include('../partials/nav') %>

            <!-- HEADER -->
            <header id="main-header" class="login-style">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class=" my-3"><i class="fas fa-user"></i> Admin - Product List</h2>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container text-center three-button-style ">
                <div class="row">
                    <div class="col-sm-4">
                        <button id="create" type="button" class="btn btn-primary" onclick="location.href = '/admin/add_product'">Create Product</button>
                        <!-- <a id= "create" class="btn btn-success" onclick="">Create Product</a> -->
                    </div>
                    <div class="col-sm-4">
                        <button id="update" type="button" class="btn btn-warning" data-toggle="modal" data-target="#update-modal">Update Product</button>
                        <!-- <a id= "update" class=""  onclick="">Update Product</a> -->
                    </div>
                    <div class="col-sm-4">
                        <button id="delete" type="button" class="btn btn-danger" onclick="deleteProduct()">Delete Product</button>
                        <!-- <a id= "delete" class="btn btn-danger" onclick="deleteProduct()">Delete Product</a></div> -->
                    </div>
                </div>


                <div class="container py-4">
                    <table id="product" class="table table-striped text-center">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Product</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Sale</th>
                            </tr>
                        </thead>
                        </tbody>
                        </tbody>
                    </table>
                </div>

                <div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Update new product</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="update-product" class="product-form-style">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input id="name" type="text" class="form-control" name="name" placeholder="Name" for="name">
                                    </div>

                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input id="price" type="number" class="form-control" name="price" placeholder="Price" for="price">
                                    </div>

                                    <div class="form-group">
                                        <label for="sale">Sale</label>
                                        <input id="sale" type="number" class="form-control" name="sale" placeholder="Sale" for="sale">
                                    </div>

                                    <div class="form-group">
                                        <label for="image_url">Image URL</label>
                                        <input type="text" name="image_url" class="form-control" placeholder="Image">
                                        <!-- <input type="text" class="form-control" name="status" placeholder="Status"> -->
                                    </div>


                                    <div class="form-group">
                                        <label for="des">Description</label>
                                        <textarea name="des" id="des" class="form-control" cols="30" rows="10" placeholder="Description" for="des"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $(document).ready(function() {
                    getAllProduct();
                    selectProduct();
                });
            </script>
</body>

<%- include('../partials/footer') %>


    <script>
        var table = $('#product').DataTable();
        var id = null;
        var listProduct = null;
        var selectedProduct = null;

        function getAllProduct() {

            fetch("http://127.0.0.1:3000/api/product/listall", {
                    method: 'GET'
                })
                .then(async res => {
                    res = await res.json();
                    return res.data
                })
                .then((data) => {
                    listProduct = data;
                    for (var i = 0; i < data.length; i++) {
                        table.row.add(
                            [data[i].id, data[i].name,
                                data[i].des,
                                data[i].price,
                                data[i].sale,
                            ]).draw(false)
                    }
                });
        }

        function selectProduct() {
            $('#product').on('click', 'tr', function() {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
                id = table.row(this).data()[0];
                selectedProduct = listProduct.find(value => value.id === id)
                $('#update-product :input[name="name"]').val(selectedProduct.name);
                $('#update-product :input[name="price"]').val(selectedProduct.price);
                $('#update-product :input[name="sale"]').val(selectedProduct.sale);
                $('#update-product :input[name="des"]').val(selectedProduct.des);
                $('#update-product :input[name="image_url"]').val(selectedProduct.image_url);
                document.getElementById('update').disabled = false;
                document.getElementById("delete").disabled = false;
            });

            document.getElementById('update').disabled = true;

            document.getElementById("delete").disabled = true;
        }

        function deleteProduct() {
            fetch("http://127.0.0.1:3000/api/product/delete", {
                method: 'post',
                body: JSON.stringify({
                    id: id
                }),
                headers: {
                    "Content-Type": "application/json",
                }
            }).then(function(response) {
                console.log(response)
                history.go(0)
            })
        }

        $("form#update-product").submit(function(e) {
            e.preventDefault();
            console.log("Submit");
            var val = {};
            $.each($("#update-product").serializeArray(), function(i, field) {
                val[field.name] = field.value;
            })
            console.log(val);
            fetch("http://127.0.0.1:3000/api/product/update", {
                method: "POST",
                body: JSON.stringify(val),
                headers: {
                    "Content-Type": "application/json",
                }
            }).then(res => {
                console.log(res)
                window.location.reload();
            }).catch(err => console.log(err))
        })




        // var body = "<tr>";
        //     body    += "<td>" + data[i].product_name + "</td>";
        //     body    += "<td>" + data[i].description + "</td>";
        //     body    += "<td>" + data[i].product_name+ "</td>";
        //     body    += "<td>" + data[i].status + "</td>";
        //     body    += "<td>" + '<button id = ' + data[i].id + 'class="btn btn-sm btn-success"><i class="fa fa-edit"></i></button>' + "</td>";
        //     body    += "<td>" + '<button id = ' + data[i].id + 'class="btn btn-sm btn-success"><i class="fa fa-trash"></i></button>' + "</td>";
        //     body    += "</tr>";
        //     table.append(body)

        // table.append(`<tbody>
        //   <tr>
        //   <td>${data[i].product_name}</td>
        //   <td>"${data[i].description}</td>
        //   <td>"${data[i].price} </td>
        //   <td>"${data[i].status}</td>
        //   <td><button id = "${data[i].id}"class="btn btn-sm btn-success"><i class="fa fa-edit"></i></button></td>
        //   <td><button id = "${data[i].id}"class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button></td>
        //   </tr> 
        //   </tbody>`);
        // }

        // }
    </script>


    <script>
        $(document).ready(function() {
            $('#product').DataTable();
        });
    </script>

</html>