<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Admin</title>
</head>

<body onload="emailDisplay(); isAdmin()">
    <%- include('../partials/boostrap') %>
        <%- include('../partials/nav') %>

            <!-- HEADER -->
            <header id="main-header" class="login-style">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class=" my-3"><i class="fas fa-user"></i> Admin - Add Product</h2>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">
                <form id="create-product" class="product-form-style">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="name" type="text" class="form-control" name="name" placeholder="Name" for="name">
                    </div>

                    <div class="form-group">
                        <label for="price">Price</label>
                        <input id="price" type="number" class="form-control" name="price" placeholder="Price" for="price">
                    </div>

                    <div class="form-group">
                        <label for="sale">Sale</label>
                        <input id="sale" type="number" class="form-control" name="sale" placeholder="Sale" for="sale">
                    </div>

                    <div class="form-group">
                        <label for="image_url">Image URL</label>
                        <input type="file" name="imageupload" id="image">
                        <button id="upload">Upload</button>
                    </div>


                    <div class="form-group">
                        <label for="des">Description</label>
                        <textarea name="des" id="des" class="form-control" cols="30" rows="10" placeholder="Description" for="des"></textarea>
                    </div>
                    <button id="submit" class="btn btn-primary">Add</button>
                </form>
            </div>


</body>

<%- include('../partials/footer') %>


    <script>
        $("button#submit").on('click', function(e) {
            e.preventDefault();
            console.log("Submit");
            var val = {};
            $.each($("#create-product").serializeArray(), function(i, field) {
                val[field.name] = field.value;
            })
            console.log(val);
            fetch("http://127.0.0.1:3000/api/product/create", {
                method: "POST",
                body: JSON.stringify(val),
                headers: {
                    "Content-Type": "application/json",
                }
            }).then(res => {
                console.log(res)
                location.href = '/admin'
            }).catch(err => console.log(err))
        })

        $('button#upload').on('click', function uploadImage(e) {
            e.preventDefault();
            var file = $('#image').prop('files')[0];
            var data = new FormData();
            data.append('file', file);
            for (var key of data.entries()) {
                console.log(key)
            }
            fetch("http://127.0.0.1:3000/api/product/uploadimage", {
                "method": 'POST',
                "body": data
            }).then(res => {
                return res.json()
            }).then(res => {
                console.log(res)
            })
        })
    </script>

</html>