<nav class="navbar navbar-expand-md navbar-light primary-color nav-style">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div id="basicExampleNav" class="collapse navbar-collapse">

        <ul class="navbar-nav mr-auto">
            <li class="navbar-item">
                <img src="/image/logo.png" width="40px" height="40px" alt="Logo">
            </li>

            <li class="nav-item active menu">
                <a class="nav-link" href="index">HOME</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Caterogies
        </a>
                <div class="dropdown-menu sub-menu">
                    <a class="dropdown-item" href="flower">Flower</a>
                    <a class="dropdown-item" href="plant" action="/products/getAll">Plant</a>
                    <a class="dropdown-item" href="basket">Gift Basket</a>
                </div>
            </li>


        </ul>


        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a id="cart" class="nav-link" href="cart">
                    <i class="fas fa-shopping-cart"></i> Cart
                </a>
            </li>
            <li class="nav-item">
                <a id="register" class="nav-link" href="signup">
          Register
        </a>
                <a id="account" class="nav-link" href="#" hidden="true"></a>
            </li>
            <li>
                <a id="login" class="nav-link" href="login">
          Login
        </a>
                <a id="logout" class="nav-link" href="#" hidden="true" onclick="logout()">
          Log out
        </a>
            </li>
            <li class="nav-item">
                <a id="admin" class="nav-link" href="admin" hidden="true">Admin Console</a>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn" type="submit"><i class="fa fa-search"></i></button>
    </form> -->
    </div>
</nav>


<script>
    const localhost = 'http://127.0.0.1:3000';

    function emailDisplay() {
        if (localStorage.getItem("email") != null) {
            document.getElementById("login").hidden = true;
            document.getElementById("register").hidden = true;
            document.getElementById("logout").hidden = false;
            document.getElementById("account").hidden = false;

            document.getElementById("account").textContent = localStorage.getItem("email");
        }
    }

    function logout() {
        document.getElementById('login').hidden = false
        document.getElementById('register').hidden = false
        document.getElementById("account").hidden = true;
        document.getElementById("logout").hidden = true;
        document.getElementById("admin").hidden = true

        localStorage.removeItem("email");
        localStorage.removeItem("client_id");

        window.location.href = 'login'
    }

    function getParam(name) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + encodeURIComponent(name) + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(location.search);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function isAdmin() {
        email = localStorage.getItem("email")

        if (email == "admin@gmail.com") {
            document.getElementById("admin").hidden = false
            document.getElementById("cart").hidden = true
        } else {
            document.getElementById("admin").hidden = true
            document.getElementById("cart").hidden = false
        }
    }
</script>