<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>About</title>
</head>

<body onload="emailDisplay(); isAdmin()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>

  <!-- vertical display  -->
  <div class="jumbotron text-center" style="background-color: lightpink; margin: 30px">
    <h1>DECORATE YOUR LIFE</h1>
    <h3>Magic flowers and plants</h3>
  </div>

  <!-- flower display -->
  <div class="container-flud justify-content-between" style="margin-top: 30px">
    <div class="card-body">
      <div class="container-flud justify-content-between"
        style="margin-top: 30px; background-color: whitesmoke; width: 100%">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="view view-cascade">
              <img src="image/love.jpg" width="100%" style="margin-top: 30px;" alt="">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
        <div class="row">
          <div class="col-md-12" style="padding: 30px">
            <h5 class="black-main-color" style="font-size: 20px">OUR STORY</h5>
            <p>Interflora covers almost 200 countries with almost 60,000 florists and handles around 75 orders every
              minute with an annual turnover of $2 billion. The name Interflora is synonymous the world over with the
              language and sentiments that only flowers can express. A florist shop displaying the Mercury emblem is
              immediately identified with Interflora’s tremendous prestige and goodwill. Interflora is not only the
              leading floral relay brand – it is one of the world’s most recognised and trusted brands. Interflora
              Pacific Unit was established in New Zealand in 1935 when it held its first meeting in Wellington. <br> <br>
              Interflora covers almost 200 countries with almost 60,000 florists and handles around 75 orders every
              minute with an annual turnover of $2 billion. The name Interflora is synonymous the world over with the
              language and sentiments that only flowers can express. A florist shop displaying the Mercury emblem is
              immediately identified with Interflora’s tremendous prestige and goodwill. Interflora is not only the
              leading floral relay brand – it is one of the world’s most recognised and trusted brands. Interflora
              Pacific Unit was established in New Zealand in 1935 when it held its first meeting in Wellington.
              <br> <br></p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- video -->
  <div style="text-align: center;">
    <video width="80%" height="80%" controls>
      <source src="image/queen.mp4" type="video/mp4">
    </video>

  </div>

  <%- include('./partials/footer') %>
</body>
</body>

</html>