<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>

<body onload="emailDisplay(); isAdmin()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>

  <!-- HEADER -->
  <header id="main-header" class="login-style">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class=" my-3"><i class="fas fa-shopping-cart"></i> Cart</h2>
        </div>
      </div>
    </div>
  </header>


  <div class="show-cart-history">
    <a href="history">See purchase history</a>
  </div>


  <!-- MODAL -->
  <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center" style="background-color: lightpink;">
          <h4 class="modal-title w-100 font-weight-bold">Shipping Detail</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">

          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">Receiver's Fullname</label>
            <div class="col-sm-7">
              <input id="receiver" type="text" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">Address</label>
            <div class="col-sm-7">
              <input id="address" type="text" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">Phone</label>
            <div class="col-sm-7">
              <input id="phone" type="text" class="form-control" />
            </div>
          </div>

          <div class="form-group row">
            <input id="totalModal" type="hidden">
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button class="btn btn-warning" onclick="placeOrder(total)">Place Order</button>
        </div>
      </div>
    </div>
  </div>


  <!-- CART -->

  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="cartTable" class="table text-center">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Sub total</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            </tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-right total-style-top">Total</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h4 id="total" class="text-right total-style-bottom">$0</h4>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12  col-md-6">
        <button class="btn btn-block btn-light" onclick="visitPage();">Continue Shopping</button>
      </div>
      <div class="col-sm-12 col-md-6 text-right">
        <div class="text-center">
          <button id="checkout" class="btn btn-lg btn-block btn-success text-uppercase" data-toggle="modal"
            data-target="#modalSubscriptionForm">Checkout</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      displayCart();
    });
  </script>
</body>

<script>
  const getAllProductByCartURL = localhost + "/carts/getAllProductByCartID";
  const removeProductToCartURL = localhost + "/carts/deleteProductFromCart";
  const updateQuantityURL = localhost + "/carts/updateQuantityProductInCart";
  const updateCartURL = localhost + "/carts/updateCart";
  const createNewCartURL = localhost + '/carts/createCart';


  // using data table for show selected product
  var cart = $('#cartTable').DataTable({
    info: false,
    lengthChange: false,
    searching: false,
    ordering: false,
    paging: false
  });



  /*
    PLACE ORDER 
  */

  // place order
  function placeOrder() {
    let receiver = document.getElementById("receiver").value;
    let address = document.getElementById("address").value;
    let phone = document.getElementById("phone").value;

    if (receiver == '' || address == '' || phone == '') {
      alert("Shipping detail is missing");
      return false
    }

    $('#modalSubscriptionForm').modal('hide');
    updateShippingDetail(receiver, address, phone);
  }

  // update shipping detail
  function updateShippingDetail(receiver, address, phone) {
    var total = document.getElementById('total').textContent;
    
    var obj = {
      "client_id": localStorage.getItem('client_id'),
      "client_name": receiver,
      "address": address,
      "phone": phone,
      "total": total
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(updateCartURL, {
      method: 'PUT',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request)
      .then((res) => { return res.json() })
      .then((data) => {
        // console.log('updated success')
        createNewCart();
        window.location.href = "index?placeOrder=S";
      });
  }


  // create new card
  function createNewCart() {
    var obj = {
      "client_id": localStorage.getItem('client_id'),
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(createNewCartURL, {
      method: 'POST',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request)
  }




  /* 
      SHOW CART 
   */
  function allowCheckout(length) {
    if (length > 0) {
      document.getElementById('checkout').disabled = false
    } else {
      document.getElementById('checkout').disabled = true
    }
  }

  // show current shopping cart by data table
  function displayCart() {
    var client_id = localStorage.getItem('client_id');
    if (client_id != null) {
      var request = new Request(getAllProductByCartURL + '?client_id=' + client_id, {
        method: 'GET',
      });
      fetch(request)
        .then((res) => { return res.json() })
        .then((data) => {
          // console.log(isEmptyCart)
          var total = 0;
          for (var i = 0; i < data.length; i++) {
            const priceText = data[i].price.split('$');
            const priceInt = parseInt(priceText[1]);
            cart.row.add(
              [`<img id= "image_${data[i].product_id}" src="../image/rose.png"/>`,
              data[i].product_name,
              `<input id="quantity_${data[i].product_id}" type="number" class="text-right" style="width: 70px;" min = "1" value="${data[i].quantity}" onfocusin="quantityFocus(this.value)" onchange="quantityChange(${data[i].product_id},${priceInt})"> `,
              data[i].price,
              `<label id="sub_${data[i].product_id}" class="text-right" style="width: 70px;">$${priceInt * data[i].quantity}</label>`,
              `<button id=${data[i].product_id} type="button" class="btn btn-danger" onclick="removeProductFromCart(this.id,this,${priceInt})" ><i class="fa fa-trash"></i></button>`,
              ]
            ).draw(false);
            total = total + priceInt * data[i].quantity;
            // console.log(total)
          }
          document.getElementById('total').textContent = '$' + total;
          allowCheckout(data.length);
        });
    }
  }


  /*
    UPDATE TOTAL VALUE
  */
  // focus to get old qunatity for calculate the total
  var old_quantity = 0;
  function quantityFocus(value) {
    old_quantity = value
  }

  // keep track quantity change and total price
  function quantityChange(product_id, priceInt) {
    var newQuantity = document.getElementById('quantity_' + product_id).value;
    document.getElementById('sub_' + product_id).textContent = '$' + newQuantity * priceInt;

    var total = document.getElementById('total').textContent;
    const totalText = total.split('$');
    const totalInt = parseInt(totalText[1]);

    var newTotal = totalInt - (old_quantity * priceInt) + (newQuantity * priceInt);
    document.getElementById('total').textContent = '$' + newTotal;
    old_quantity = newQuantity;

    updateQuantity(product_id, newQuantity)
  }


  // update quantity for cart
  function updateQuantity(product_id, quantity) {
    var obj = {
      "quantity": quantity,
      "product_id": product_id,
      "client_id": localStorage.getItem('client_id'),
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(updateQuantityURL, {
      method: 'PUT',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request).then((res) => { return res.json() })
      .then((data) => {
        console.log("updated")
      })
  }

  function visitPage() {
    window.location = 'flower';
  }

  /* 
      SHOW CART & REMOVE PRODUCT FROM CART 
   */
  function removeProductFromCart(product_id, rowID, priceInt) {
    var obj = {
      "product_id": product_id,
      "client_id": localStorage.getItem('client_id'),
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(removeProductToCartURL, {
      method: 'DELETE',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request).then((res) => { return res.json() })
      .then((data) => {
        var newQuantity = document.getElementById('quantity_' + product_id).value;
        // console.log(newQuantity)
        var total = document.getElementById('total').textContent;
        const totalText = total.split('$');
        const totalInt = parseInt(totalText[1]);

        var newTotal = totalInt - (newQuantity * priceInt);
        document.getElementById('total').textContent = '$' + newTotal;

        var d = rowID.parentNode.parentNode.rowIndex;
        document.getElementById('cartTable').deleteRow(d);

        var length = document.getElementById('cartTable').tBodies[0].rows.length;
        allowCheckout(length);
      })
  }

</script>


<!-- // var client_id = localStorage.getItem('client_id');
        // var request = new Request(getAllProductByCartURL + '?client_id=' + client_id, {
        //   method: 'GET',
        // });
        // fetch(request)
        //   .then((res) => { return res.json() })
        //   .then((data) => {
        //     if (data.length > 0) {
        //       document.getElementById('checkout').disabled = false
        //     } else {
        //       document.getElementById('checkout').disabled = true
        //     }
        //   }); -->