<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body onload="emailDisplay() ;getAllProduct(); isAdmin(); newAccountAlert()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>


  <!-- SOME PRODUCTS -->
  <!--  shop vertical display -->

  <div class="jumbotron text-center" style="background-color: lightpink; margin: 50px">
    <h1>FLOWER</h1>
    <h3>Our Beautiful Flower</h3>
  </div>

  <div class="container" style="padding: 1vw; text-align: center">
    <div class="card-columns" style="column-count: 3">
      <div id="showData"></div>
    </div>
  </div>

  <%- include('./partials/footer') %>

</body>
</html>


<script>
  const getAllProductURL = localhost + "/products/getAll";
  const addProductToCartURL = localhost + "/carts/addProductToCart";
  const removeProductToCartURL = localhost + "/carts/deleteProductFromCart";
  const getProductByProductIDURL = localhost + "/carts/getProductByProductID";

  function newAccountAlert() {
    if (getParam('newAccount') == 'T') {
      alert("Success created new account");
      window.history.pushState("", document.title, "/index");
    }
  }


  function getAllProduct() {
    if (localStorage.getItem('client_id') != null) {
      var request = new Request(getAllProductURL, {
        method: 'GET',
      });

      fetch(request)
        .then((res) => { return res.json() })
        .then(async (data) => {
          var divContainer = document.getElementById("showData");
          divContainer.innerHTML = "";

          for (var i = 0; i < data.length; i++) {
            var card_div = document.createElement("div");
            card_div.id = "card " + i;
            divContainer.appendChild(card_div);

            var obj = {
              "product_id": data[i].id,
              "client_id": localStorage.getItem('client_id'),
            }
            bodyJson = JSON.stringify(obj);

            var request1 = new Request(getProductByProductIDURL, {
              method: 'POST',
              body: bodyJson,
              headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
              },
            });

            var text = ""
            await fetch(request1)
              .then((res1) => { return res1.json() })
              .then((data1) => {
                if (data1.length == 0) { // product not in the cart already
                  var text = `<figure class="card card-product">
                    <div class="img-wrap"><img src="../image/sunflower.jpg"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">${data[i].product_name}</h4>
                        <p class="desc">${data[i].description}</p>
                        <div class="price-wrap h5">
                        <span class="price-new">${data[i].price}</span>
                        <div class="rating-wrap">
                          <input type="number" class="text-right label-rating my-2" style="width: 70px" min = "1" value="1" id= "quantity_${data[i].id}" >
                      </div>
                      </div> 
                    </figcaption>
                    <div class="bottom-wrap">
                      <button id=${data[i].id} type="button" class="btn btn-sm btn-primary my-3" onclick="addProductToCart(this.id)">Add To Cart</button>
                    </div> 
                  </figure>`
                  document.getElementById(card_div.id).innerHTML = text;
                } else { // product  in the cart already
                  var text = `<figure class="card card-product">
                    <div class="img-wrap"><img src="../image/sunflower.jpg"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">${data[i].product_name}</h4>
                        <p class="desc">${data[i].description}</p>
                        <div class="price-wrap h5">
                        <span class="price-new">${data[i].price}</span>
                        <div class="rating-wrap">
                          <input disabled = "true" type="number" class="text-right label-rating my-2" style="width: 70px" min = "1" value="1" id= "quantity_${data[i].id}" >
                      </div>
                      </div> 
                    </figcaption>
                    <div class="bottom-wrap">
                      <button id=${data[i].id} type="button" class="btn btn-sm btn-primary my-3" onclick="removeProductToCart(this.id)">Remove From Cart</button>
                    </div> 
                  </figure>`
                  document.getElementById(card_div.id).innerHTML = text;
                }
              })
          }
        })

    } else {
      var request = new Request(getAllProductURL, {
        method: 'GET',
      });

      fetch(request)
        .then((res) => { return res.json() })
        .then((data) => {
          var divContainer = document.getElementById("showData");
          divContainer.innerHTML = "";

          for (var i = 0; i < data.length; i++) {
            var card_div = document.createElement("div");
            card_div.id = "card " + i;
            divContainer.appendChild(card_div);
            var text = `<figure class="card card-product">
                    <div class="img-wrap"><img src="../image/sunflower.jpg"></div>
                    <figcaption class="info-wrap">
                        <h4 class="title">${data[i].product_name}</h4>
                        <p class="desc">${data[i].description}</p>
                        <div class="price-wrap h5">
                        <span class="price-new">${data[i].price}</span>
                        <div class="rating-wrap">
                          <input type="number" class="text-right label-rating my-2" style="width: 70px" min = "1" value="1" id= "quantity_${data[i].id}" >
                      </div>
                      </div> 
                    </figcaption>
                    <div class="bottom-wrap">
                      <button id=${data[i].id} type="button" class="btn btn-sm btn-primary my-3" disabled >Add To Cart</button>
                    </div> 
                  </figure>`
            document.getElementById(card_div.id).innerHTML = text;
          }
        })
    }
  }

  function addProductToCart(product_id) {
    var button_click = document.getElementById(product_id);
    const quantity = document.getElementById('quantity_' + product_id).value;

    var obj = {
      "product_id": parseInt(product_id),
      "client_id": localStorage.getItem('client_id'),
      "quantity": quantity,
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(addProductToCartURL, {
      method: 'POST',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request).then((res) => { return res.json() })
      .then((data) => {
        button_click.textContent = "Remove From Cart";
        document.getElementById('quantity_'+product_id).disabled = true

        button_click.addEventListener('click', function () { 
          removeProductToCart(product_id)
        });
      
      });
  }

  function removeProductToCart(product_id) {
    var button_click = document.getElementById(product_id);

    var obj = {
      "product_id": parseInt(product_id),
      "client_id": localStorage.getItem('client_id'),
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(removeProductToCartURL, {
      method: 'DELETE',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request).then((res) => { return res.json() })
      .then((data) => {
        button_click.textContent = "Add To Cart";
        document.getElementById('quantity_'+product_id).disabled = false;

        button_click.addEventListener('click', function () { 
          addProductToCart(product_id) 
        });
      });
  }
</script>

<!--       
// document.getElementById(product_id).textContent = "Remove From Cart";
// document.getElementById(product_id).onclick = function () { 
//   removeProductToCart(product_id)
// } -->

<!-- // var text = `<div class="card">
  //   <img class="card-img-top image-product text-center" src="../image/sunflower.jpg" alt="flower image">
  //   <div class="card-body">
  //     <h5 class="card-title">${data[i].product_name}</h4>
  //       <p class="card-text">${data[i].price}</p>
  //       <p class="card-text">${data[i].description}</p>
  //       <input type="number" class="text-right" style="width: 70px" min = "1" value="0" id= "quantity_${data[i].id}" >
  //       <button id=${data[i].id} type="button" class="btn btn-warning my-2" onclick="addProductToCart(this.id)">Add To Cart</button>
  //   </div>
  // </div>` -->