<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>

<body onload="emailDisplay(); isAdmin()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>

  <!-- HEADER -->
  <header id="main-header" class="login-style">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class=" my-3"><i class="fas fa-history"></i>  Purchase history</h2>
        </div>
      </div>
    </div>
  </header>


  <!-- CART -->

  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table id="cartTable" class="table text-center">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Account</th>
                <th scope="col">Product</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Sub total</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            </tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>




</body>