<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body onload="emailDisplay() ;getAllProduct(); isAdmin(); newAccountAlert()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 main-image" src="/image/1.jpg" alt="First slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 main-image" src="/image/2.jpg" alt="Second slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 main-image" src="/image/3.jpg" alt="Third slide">
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- SOME PRODUCTS -->
  <!--  shop vertical display -->

  <div class="jumbotron text-center" style="background-color: lightpink; margin: 50px">
    <h1>SPECIAL OFFERS</h1>
  </div>

 <!-- SOME PRODUCTS -->
    <!--  shop vertical display -->
<div class="container" style="padding: 1vw; text-align: center">
  <div class="card-columns" style="column-count: 3">
    
    <figure class="card card-product">
      <div class="img-wrap"><img src="../image/sunflower.jpg"></div>
      <figcaption class="info-wrap">
          <h4 class="title">Rose</h4>
          <p class="desc">this is rose</p>
          <div class="price-wrap h5">
          <span class="price-new">$10</span>
          <div class="rating-wrap">
            <input type="number" class="text-right label-rating my-2" style="width: 70px" min = "1" value="1" id= "quantity_${data[i].id}" >
        </div>
        </div> 
      </figcaption>
      <div class="bottom-wrap">
        <button id=${data[i].id} type="button" class="btn btn-sm btn-primary my-3">Add To Cart</button>
      </div> 
    </figure>


    <figure class="card card-product">
      <div class="img-wrap"><img src="../image/sunflower.jpg"></div>
      <figcaption class="info-wrap">
          <h4 class="title">Rose</h4>
          <p class="desc">this is rose</p>
          <div class="price-wrap h5">
          <span class="price-new">$10</span>
          <div class="rating-wrap">
            <input type="number" class="text-right label-rating my-2" style="width: 70px" min = "1" value="1" id= "quantity_${data[i].id}" >
        </div>
        </div> 
      </figcaption>
      <div class="bottom-wrap">
        <button id=${data[i].id} type="button" class="btn btn-sm btn-primary my-3">Add To Cart</button>
      </div> 
    </figure>


    <figure class="card card-product">
      <div class="img-wrap"><img src="../image/sunflower.jpg"></div>
      <figcaption class="info-wrap">
          <h4 class="title">Rose</h4>
          <p class="desc">this is rose</p>
          <div class="price-wrap h5">
          <span class="price-new">$10</span>
          <div class="rating-wrap">
            <input type="number" class="text-right label-rating my-2" style="width: 70px" min = "1" value="1" id= "quantity_${data[i].id}" >
        </div>
        </div> 
      </figcaption>
      <div class="bottom-wrap">
        <button id=${data[i].id} type="button" class="btn btn-sm btn-primary my-3">Add To Cart</button>
      </div> 
    </figure>

  </div>  
</div>

  <%- include('./partials/footer') %>

</body>

</html>


<script>

  const getAllProductURL = localhost + "/products/getAll";
  const addProductToCartURL = localhost + "/carts/addProductToCart";
  const getProductByProductIDURL = localhost + "/carts/getProductByProductID";

  function newAccountAlert() {
    if (getParam('newAccount') == 'T') {
      alert("Success created new account");
      window.history.pushState("", document.title, "/index");
    }

    if (getParam('placeOrder') == 'S') {
      alert("Place order success");
      window.history.pushState("", document.title, "/index");
    }
    
  }


  function getAllProduct() {
    if (localStorage.getItem('client_id') != null) {
      var request = new Request(getAllProductURL, {
        method: 'GET',
      });

      fetch(request)
        .then((res) => { return res.json() })
        .then(async (data) => {
          var divContainer = document.getElementById("showData");

          for (var i = 0; i < data.length; i++) {
            var card_div = document.createElement("div");
            card_div.id = "card " + i;
            divContainer.appendChild(card_div);

            var obj = {
              "product_id": data[i].id,
            }
            bodyJson = JSON.stringify(obj);

            var request1 = new Request(getProductByProductIDURL, {
              method: 'POST',
              body: bodyJson,
              headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
              },
            });

            var text = ""
            await fetch(request1)
              .then((res1) => { return res1.json() })
              .then((data1) => {
                if (data1.length == 0) {
                  console.log("chua co")
                  var text = `<div class="card">
                    <img class="card-img-top" src="../image/sunflower.jpg" alt="flower image">
                    <div class="card-body">
                      <h5 class="card-title">${data[i].product_name}</h4>
                        <p class="card-text">${data[i].price}</p>
                        <p class="card-text">${data[i].description}</p>
                        <input type="number" class="text-right" min = "1" value="0" id= "quantity_${data[i].id}" >
                        <button id=${data[i].id} type="button" class="btn btn-warning my-2" onclick="addProductToCart(this.id)"">Add To Cart</button>
                    </div>
                  </div>`
                  document.getElementById(card_div.id).innerHTML = text;
              } else {
                console.log("da co")
                  var text = `<div class="card">
                    <img class="card-img-top" src="../image/sunflower.jpg" alt="flower image">
                    <div class="card-body">
                      <h5 class="card-title">${data[i].product_name}</h4>
                        <p class="card-text">${data[i].price}</p>
                        <p class="card-text">${data[i].description}</p>
                        <input type="number" class="text-right" min = "1" value="0" id= "quantity_${data[i].id}" >
                        <button id=${data[i].id} type="button" class="btn btn-danger my-2" onclick="addProductToCart(this.id)"">Remove From Cart</button>
                    </div>
                  </div>`
                  document.getElementById(card_div.id).innerHTML = text;
              }
            })
    }
  })

    } else {
    var request = new Request(getAllProductURL, {
      method: 'GET',
    });

    fetch(request)
      .then((res) => { return res.json() })
      .then((data) => {
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";

        for (var i = 0; i < data.length; i++) {
          var card_div = document.createElement("div");
          card_div.id = "card " + i;
          divContainer.appendChild(card_div);
          var text = `<div class="card">
        <img class="card-img-top" src="../image/sunflower.jpg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">${data[i].product_name}</h4>
            <p class="card-text">${data[i].price}</p>
            <p class="card-text">${data[i].description}</p>
            <input type="number" class="text-right" min = "1" value="0">
            <button type="button" class="btn btn-warning my-2" disabled>Add To Cart</button>
        </div>
      </div>`
          document.getElementById(card_div.id).innerHTML = text;
        }
      })
  }
  }


  function addProductToCart(product_id) {
    const quantity = document.getElementById('quantity_' + product_id).value;

    var obj = {
      "product_id": parseInt(product_id),
      "client_id": localStorage.getItem('client_id'),
      "quantity": quantity,
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(addProductToCartURL, {
      method: 'POST',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request)
  }


</script>