<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
</head>

<body onload="loadRememberedAccount()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>

  <!-- HEADER -->
  <header id="main-header" class="login-style">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class=" my-3"><i class="fas fa-user"></i> Login</h2>
        </div>
      </div>
    </div>
  </header>

  <!-- LOGIN -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input id="email" name="email" type="email" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input id="pass" name="pass" type="password" class="form-control" />
                </div>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="remember" name="remember">
                <label class="custom-control-label" for="remember">Remember me</label>
              </div>
              <div class="form-group row my-3">
                <div class="col-sm-12 mx-auto">
                  <button class="btn btn-warning btn-block my-2 my-sm-0" type="button" onclick="login()">
                    Login
                  </button>
                </div>
              </div>
              <div class="form-group row my-2">
                <div class="col-sm-6">
                  <p>Don't have an account?</p>
                </div>
                <div class="col-sm-6">
                  <a href="signup"> Sign Up</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

</body>

<script>
  const getClientByEmailAndPass = localhost + '/clients/getClientByEmailAndPass';

  function rememberAccount(store_email, pass, checked) {
    if (document.getElementById("remember").checked == false) {
      localStorage.removeItem("store_email")
      localStorage.removeItem("checked")
      localStorage.removeItem("pass")
      alert('Email and password will not be remembered')
    } else {
      localStorage.setItem("store_email", store_email);
      localStorage.setItem("pass", pass);
      localStorage.setItem("checked", checked);
      alert('Remembered email and password for next login')
    }
  }

  function login() {
    let store_email = document.getElementById("email").value;
    let pass = document.getElementById("pass").value;
    let checked = document.getElementById("remember").checked;

    if (store_email != '' && pass != '') {
      rememberAccount(store_email, pass, checked)
      checkLogin()
    } else {
      alert("Please enter email and password");
      return false;
    }
  }


  function checkLogin() {
    var obj = {
      "email": document.getElementById("email").value,
      "pass": document.getElementById("pass").value,
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(getClientByEmailAndPass, {
      method: 'POST',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });

    fetch(request)
      .then((res) => { return res.json() })
      .then((data) => {
        console.log(data)
        if (data.length == 0) {
          alert("Email or password is incorrect")
        } else {
          localStorage.setItem("email", data[0].email)
          localStorage.setItem("client_id", data[0].id)
          window.location.href = "index";
        }
      })
  }

function loadRememberedAccount() {
  document.getElementById("email").value = localStorage.getItem("store_email");
  document.getElementById("pass").value = localStorage.getItem("pass");
  document.getElementById("remember").checked = localStorage.getItem("checked");
}
</script>

</html>