<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Singup</title>
</head>

<body>

  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>


  <!-- HEADER -->
  <header id="main-header" class="signup-style">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class=" my-3"><i class="fas fa-users"></i> Sign up</h2>
        </div>
      </div>
    </div>
  </header>

  <!-- LOGIN -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input id="email" name="email" type="email" class="form-control" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input id="pass" name="pass" type="password" class="form-control" oninput="checkValidPass()"/>
                  <small id="passwordAlert"></small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                  <input id="confirm" name="confirm" type="password" class="form-control" />
                </div>
              </div>
              <div class="form-group row my-3">
                <div class="col-sm-12 mx-auto">
                  <button class="btn btn-warning btn-block my-2 my-sm-0" type="button" onclick="checkValidSignUp()">
                    Sign up
                  </button>
                </div>
              </div>
              <div class="form-group row my-2">
                <div class="col-sm-6">
                  <p>Already have an account?</p>
                </div>
                <div class="col-sm-6">
                  <a href="login">Login</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

<script>
    const getClientByEmail = localhost + '/clients/getClientByEmail';
    const createClient = localhost + '/clients/create';
    const createNewCartURL = localhost + '/carts/createCart';


  function checkValidPass() {
    let passLength = document.getElementById("pass").value.length;
    if (passLength < 6) {
      document.getElementById("passwordAlert").textContent = 'Password needs at least 6 characters';
    } else {
      document.getElementById("passwordAlert").textContent = '';
    }
  }

  function checkValidSignUp() {
    let email = document.getElementById("email").value;
    let password = document.getElementById("pass").value;
    let confirm = document.getElementById("confirm").value;
    let isEmail = document.getElementById("email");

    if (email == '' || password == '' || confirm == '') {
      alert("Field(s) are missing");
      return false
    }

    if (isEmail.validity.valid == false) {
      alert("Please enter a valid email adress");
      return false;
    }

    if (password.length < 6) {
      alert("Password needs at least 6 characters.");
      return false
    }

    if (password != confirm) {
      alert("Password and confirm does not match");
      return false
    }

    isValidEmailToCreate()
    return true;
  }


  function isValidEmailToCreate() {
    var email = document.getElementById("email").value;

    var obj = {
      "email": email,
      "pass": document.getElementById("pass").value,
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(getClientByEmail, {
      method: 'POST',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request)
      .then((res) => { return res.json() })
      .then((data) => {
        if (data.length == 0) {
          var request = new Request(createClient, {
            method: 'POST',
            body: bodyJson,
            headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
            },
          });
          // create new client in database
          fetch(request).then((res) => { return res.json() })
          .then((data) => {
              loginAfterSignup(email)
          })
          // window.location.href = "login?newAccount=T"
        } else {
          alert("Already has an account with this email")
        }
      })
  }

  function loginAfterSignup(email) {
    var obj = {
      "email": email,
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(getClientByEmail, {
      method: 'POST',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });

    fetch(request)
      .then((res) => { return res.json() })
      .then((data) => {
        console.log(data)
        if (data.length == 0) {
          alert("Email or password is incorrect")
        } else {
          localStorage.setItem("email", data[0].email);
          localStorage.setItem("client_id", data[0].id);
          client_id = localStorage.getItem('client_id');
          console.log(client_id);
          createNewCart(client_id); 
          window.location.href = "index?newAccount=T";
        }
      })
  }

  function createNewCart(client_id) {
    console.log(client_id);
    var obj = {
      "client_id": client_id,
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(createNewCartURL, {
      method: 'POST',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request)
  }

</script>
</html>