.nav-style {
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 60px;
}

.footer-style {
    background-color: lightpink;
}

.footer-style p {
    color: black;
}

.login-style {
    background-color:lightpink;
}

.signup-style {
    background-color: lightpink;
}

.product-form-style {
    padding: 50px;
}

.three-button-style {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* carousel */
.main-image {
    padding-top: 30px;
    width:100%;
    height:40vw;
    opacity: 0.9;
  }
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}



h4 { 
    font-weight: bold;
}

.total-style-top {
    margin-top: 15px;
}

.total-style-bottom {
    margin-bottom: 15px;
}

/* fix image of table data */
table.dataTable tbody td img {
    max-height: 50px;
}

.card-product {
    border-width: 2px;
    border-style: ridge;
    border-color: black;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}
.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}
.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 2px solid white;
}
.card-product .bottom-wrap {
    border-top: 2px solid black;
}

.label-rating { margin-right:10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}



/* history */
.show-cart-history {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}











/* CSS Document */
a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:rgb(53, 58, 63);
    width:504px; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    overflow:auto; }
  
#usermsg {
    width:395px;}
  
#submit { width: 60px; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }







.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}


