<!-- SIGN UP -->

<script>
function displayFailAlert() {
  if (getParam('validEmail') == 'F') {
    alert("Email already used");
    window.location.href="signup";
  }
} 

function checkValidSignUp() {
  let email = document.getElementById("email").value;
  let password = document.getElementById("pass").value;
  let confirm = document.getElementById("confirm").value;

  
  if (email == '' || password == '' || confirm == '') {
    alert("Field(s) are missing");
    return false
  }

  if (password.length < 6) {
    alert("Password needs at least 6 characters.");
    return false
  }

  if (password != confirm) {
    alert("Password and confirm does not match");
    return false
  }

} 
</script>






<!-- LOGIN -->
<script>
function displayFailAlert() {
    if (getParam('validAccount') == 'W') {
      alert("Email or password is incorrect");
      window.location.href = "login";
    }

    if (getParam('validAccount') == 'N') {
      alert("There is no account with this email");
      window.location.href = "login";
    }

  }
</script>
 