<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Basket</title>
</head>

<body onload="welcome()">
    <%- include('./partials/boostrap') %>
    <%- include('./partials/nav') %>
    
   
   <!-- SOME PRODUCTS -->
    <!--  shop vertical display -->
    <div class="jumbotron text-center" style="background-color: lightpink; margin: 50px">
        <h1>FLOWER BASKETS</h1>
        <h3>The best flower baskets</h3>
    </div>

  <div class="container" style="padding: 1vw; text-align: center">
    <div class="card-columns" style="column-count: 3">
      
      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>
      </div>
  </div>

</body>
</html>