<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Flower</title>
</head>

<body onload="welcome(); reloadURL()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>


  <!-- SOME PRODUCTS -->
  <!--  shop vertical display -->
  <div class="jumbotron text-center" style="background-color: lightpink; margin: 50px">
    <h1>FLOWER</h1>
    <h3>Our Beautiful Flower</h3>
  </div>

  <div class="container" style="padding: 1vw; text-align: center">
    <div class="card-columns" style="column-count: 3">

      <% if (locals.list) { %>
      <% list.forEach(function(each){ %>
      <div class="card">
        <img class="card-img-top" src="/image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <!-- <li> <%= eachPerson.product_name %>  <%= eachPerson.price %> </li> -->
          <h5 class="card-title"><%= each.product_name %></h4>
            <p class="card-text"><%= each.price %></p>
            <p class="card-text"><%= each.description %></p>
            <input type="number">
            <a href="/products/" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>
      <% }) %>



      <!-- 

      

      

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div> -->
    </div>
  </div>

</body>

</html>

<script>
  function reloadURL() {
    window.history.pushState("", document.title, "/flower");
  }
  function loadItem() {
    fetch('http://localhost:3000/products/getAll', {
      method: 'GET'
    })
      .then((res) => { return res.json() })
      .then((data) => {
        for (i = 0; i < data.length; i++) {
          document.writeln(`<div class="card">
          <img class="card-img-top" src="../image/plant1.jpeg" alt="flower image">
          <div class="card-body">
          <h5 class="card-title">${data[i].product_name}</h4>
            <p class="card-text">${data[i].price}</p>
            <p class="card-text">${data[i].description}</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
          </div>
        </div>`)

      //     div = document.createElement('div');
      //     div.id = i;
      //     // document.body.appendChild(g);
      //     document.getElementById("card_col").appendChild(div)
      //     document.getElementById(div.id).innerHTML = `<div class="card">
      //   <img class="card-img-top" src="src/shirt3.jpeg" alt="Card image cap">
      //   <div class="card-body">
      //     <h5 class="card-title">${data[i].item_name}</h4>
      //       <p class="card-text">${data[i].price}</p>
      //       <p class="card-text">${data[i].description}</p>
      //       <input type="number">
      //       <a href="#" class="btn btn-outline-success my-2 my-sm-0" onClick=>Add To Cart</a>
      //   </div>
      // </div>`;
        }
      })
  }
</script>