<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Flower</title>
</head>

<body onload="welcome() ;getAllProduct(); isAdmin(); createNewCart()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>


  <!-- SOME PRODUCTS -->
  <!--  shop vertical display -->
  <div class="jumbotron text-center" style="background-color: lightpink; margin: 50px">
    <h1>FLOWER</h1>
    <h3>Our Beautiful Flower</h3>
  </div>

  <div class="container" style="padding: 1vw; text-align: center">
    <div class="card-columns" style="column-count: 3">
      <div id="showData"></div>
    </div>
  </div>


  <%- include('./partials/footer') %>
</body>

</html>

<script>
  const getAllProductURL = localhost + "/products/getAll";
  const addProductToCartURL = localhost + "/carts/addProductToCart";

  function getAllProduct(){
    if (localStorage.getItem('client_id') == null) {
      var request = new Request(getAllProductURL, {
      method: 'GET',
    });

    fetch(request)
      .then((res) => { return res.json() })
      .then((data) => {
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";

        for (var i = 0; i < data.length; i++) {
          var card_div = document.createElement("div");
          card_div.id = "card " + i;
          divContainer.appendChild(card_div);
          var text = `<div class="card">
        <img class="card-img-top" src="../image/sunflower.jpg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">${data[i].product_name}</h4>
            <p class="card-text">${data[i].price}</p>
            <p class="card-text">${data[i].description}</p>
            <input type="number" class="text-right" min = "1" value="0" >
            <button type="button" class="btn btn-warning my-2" disabled>Add To Cart</button>
        </div>
      </div>`
          document.getElementById(card_div.id).innerHTML = text;
        }
      })
    } else {
      var request = new Request(getAllProductURL, {
      method: 'GET',
    });

    fetch(request)
      .then((res) => { return res.json() })
      .then((data) => {
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";

        for (var i = 0; i < data.length; i++) {
          var card_div = document.createElement("div");
          card_div.id = "card " + i;
          divContainer.appendChild(card_div);
          var text = `<div class="card">
        <img class="card-img-top" src="../image/sunflower.jpg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">${data[i].product_name}</h4>
            <p class="card-text">${data[i].price}</p>
            <p class="card-text">${data[i].description}</p>
            <input type="number" class="text-right" min = "1" value="0"  id= "quantity_${data[i].id}">
            <button id=${data[i].id} type="button" class="btn btn-warning my-2" onclick="addProductToCart(this.id)"">Add To Cart</button>
        </div>
      </div>`
          document.getElementById(card_div.id).innerHTML = text;
        }
      })
    }
  }


  function addProductToCart(product_id){
    const quantity = document.getElementById('quantity_'+product_id).value;
    
    var obj = {
      "product_id": parseInt(product_id),
      "client_id": localStorage.getItem('client_id'),
      "quantity": quantity,
    }
    bodyJson = JSON.stringify(obj);

    var request = new Request(addProductToCartURL , {
      method: 'POST',
      body: bodyJson,
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json'
      },
    });
    fetch(request)
  }

</script>
