<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body onload="welcome(); storeClientID()">
  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 main-image" src="/image/1.jpg" alt="First slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 main-image" src="/image/2.jpg" alt="Second slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100 main-image" src="/image/3.jpg" alt="Third slide">
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- SOME PRODUCTS -->
  <!--  shop vertical display -->
  <div class="jumbotron text-center" style="background-color: lightpink; margin: 50px">
    <h1>POPULAR</h1>
    <h3>Flower and Decorative Plants</h3>
  </div>

  <div class="container" style="padding: 1vw; text-align: center">
    <div class="card-columns" style="column-count: 3">
      <div class="card">
        <img class="card-img-top" src="/image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="/image/plant1.jpeg" alt="flower image">
        <div class="card-body">
          <h5 class="card-title">Rose</h4>
            <p class="card-text">200,000 VND</p>
            <p class="card-text">Pink Rose</p>
            <input type="number">
            <a href="#" class="btn btn-warning my-2">Add To Cart</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer') %>

</body>

<!-- <script>

  function storeClientID() {
    if (getParam('client_id') != null && getParam('client_email') != null ) {
    let client_id = getParam('client_id')
    localStorage.setItem("client_id", client_id);

    let client_email = getParam('client_email')
    localStorage.setItem("email", client_email);
    window.location.href = "index";
    }
  }


</script> -->

</html>