<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Singup</title>
</head>

<body onload="reloadURL()">

  <%- include('./partials/boostrap') %>
  <%- include('./partials/nav') %>
  

  <!-- HEADER -->
  <header id="main-header" class="signup-style">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class=" my-3"><i class="fas fa-users"></i> Sign up</h2>
        </div>
      </div>
    </div>
  </header>
  
  <!-- LOGIN -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-body">
            <form action="/client/create" method="POST" onsubmit="return checkValidSignUp()">
              <!-- <form action="/clients/create" method="POST"> -->
                <% if (locals.errors) { %>
                  <div class="form-group row alert alert-danger">
                    <div class="col-sm-12">
                      <ul>
                        <% Object.values(errors).forEach(function(error){ %>
                              <li ><%= error.msg %></li>
                        <% }); %>
                    </ul>
                    </div>
                  </div>
                  <% } %>

                  <% if (locals.email_used) { %>
                    <div class="form-group row alert alert-danger">
                      <div class="col-sm-12">
                        <ul>
                            <li ><%= email_used %></li>
                      </ul>
                      </div>
                    </div>
                    <% } %>
  

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input id="email" name="email" type="email" class="form-control" />
                  <% if (locals.email) { %>
                    <script>
                      document.getElementById("email").value = "<%= email %>"
                    </script>
                  <% } %> 
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                  <input id="pass" name="pass" type="password" class="form-control" oninput="checkValidPass()"/>
                  <% if (locals.pass) { %>
                    <script>
                      document.getElementById("pass").value = "<%= pass %>"
                    </script>
                  <% } %> 
                  <small id="passwordAlert"></small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Confirm Password</label>
                <div class="col-sm-9">
                  <input id="confirm" name="confirm" type="password" class="form-control" />
                  <% if (locals.confirm) { %>
                    <script>
                      document.getElementById("confirm").value = "<%= confirm %>"
                    </script>
                  <% } %> 
                </div>
              </div>
              <div class="form-group row my-3">
                <div class="col-sm-12 mx-auto">
                   <button class="btn btn-warning btn-block my-2 my-sm-0" type="submit">
                    Sign up
                  </button>
                </div>
              </div>
              <div class="form-group row my-2">
                <div class="col-sm-6">
                  <p>Already have an account?</p>
                </div>
                <div class="col-sm-6">
                  <a href="login">Login</a>
                </div>
              </div>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

<script>
  function reloadURL() {
    window.history.pushState("", document.title, "/signup");
  }

  function checkValidPass() {
    let passLength = document.getElementById("pass").value.length;
    if (passLength < 6) {
      document.getElementById("passwordAlert").textContent = 'Password needs at least 6 characters';
    } else {
      document.getElementById("passwordAlert").textContent = '';
    }
  }

  function checkValidSignUp() {
  let email = document.getElementById("email").value;
  let password = document.getElementById("pass").value;
  let confirm = document.getElementById("confirm").value;

  
  if (email == '' || password == '' || confirm == '') {
    alert("Field(s) are missing");
    return false
  }

  if (password.length < 6) {
    alert("Password needs at least 6 characters.");
    return false
  }

  if (password != confirm) {
    alert("Password and confirm does not match");
    return false
  }

} 

</script>

</html>







